* {
    padding: 0;
    margin-top: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 300% 100%;
    animation: gradient 8s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {
        background-position: 0%
    }
    100% {background-position: 100%
    }
}
h1{
    margin-top: 50px;
    color: #faf7f7;
}
a {
    color: #042951;
    text-decoration: none;
}
.flex-wrap {
    display: flex;
    margin: 0 auto;
    padding: 0;
}
#bmi-form, .results-wrap {
    padding: 80px;
}
.flex-wrap#calc-container {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
@media only screen and (max-width: 900px) {
    .flex-wrap#calc-container {
        flex-direction: column;
    }
}
form {
    background-color: #c9c9c95c;
    border: 1px solid inherit;
    box-shadow: 2px 2px 5px 2px #333;
    margin: 1rem;    
}
.form-group {
    margin: 1rem 0;
    width: 100%;
}
#imperial {
    display: none;
}
input.height-usa {
    width: 50px;
}
input[type="button"] {
    padding: 15px;
    border-radius: 15px;
    background-color: inherit;
    border: none;
    box-shadow: 2px 2px 5px 2px #333;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}
.reset {
    padding: 15px;
    border-radius: 15px;
    background-color: inherit;
    border: none;
    box-shadow: 2px 2px 5px 2px #333;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    color: #ffffff;
}
.weight{
    background-color: inherit;
    border: none;
    box-shadow: 2px 2px 5px 2px #333;
    font-size: 18px;
    text-align: center;
    color: #000000;
    outline: none;
}
.weight::placeholder{
    color: #787878de;
}
.height{
    background-color: inherit;
    border: none;
    box-shadow: 2px 2px 5px 2px #333;
    font-size: 18px;
    text-align: center;
    color: #000000;
    outline: none;
}
.height::placeholder{
    color: #787878de;
}
.weight-imperial{
    background-color: inherit;
    border: none;
    box-shadow: 2px 2px 5px 2px #333;
    font-size: 18px;
    text-align: center;
    color: #000000;
    outline: none;
}
.height-usa{
    background-color: inherit;
    border: none;
    box-shadow: 2px 2px 5px 2px #333;
    font-size: 15px;
    text-align: center;
    color: #000000;
    outline: none;
}
input[type="button"]:hover {
    background-color: #5d5d5e;
    cursor: pointer;
}
.reset:hover{
    background-color: #5d5d5e;
    cursor: pointer;
}
.results-wrap {
    background-color: #c9c9c95c;
    border: 1px solid inherit;
    box-shadow: 2px 2px 5px 2px #333;
    margin: 1rem; 
    flex: 0 1 40%;
    padding: 1rem;
}
#results {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
@media only screen and (max-width: 768px) {
    #results {
        flex-direction: column;
    }
}

#results>ul {
    text-align: left;
}
@media only screen and (max-width: 768px) {
    #results>ul {
        text-align: center;
        padding: 1rem 0;
    }
}
label.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#error-msg-wrap {
    border: 1px solid red;
    padding: 5px;
    display: none;
    margin-top: .5rem;
}
#error-msg-txt {
    color: red;
}
.colored-circle {
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    box-shadow: 1px 1px 4px #333;
}
@keyframes fadeIn {
    0% {
         opacity: 0;
    }

    25% {
         opacity: .1;
    }

    50% {
         opacity: .8;
    }

    100% {
         opacity: 1;
    }
}